.Input {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.Label {
  font-weight: bold;
  display: block;
  margin: 5px 0;
}

.InputElement {
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
  display: block;
  width: 100%;
}

.InputElement:focus {
  outline: none;
}

.Invalid {
  border: 1px solid red;
  background-color: rgb(255, 206, 206);
}
