.BuildControls {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFCF9;
    margin: auto;
    width: 300px;
    border-radius: 10px;
    padding: 20px;
}



.OrderBtn {
    margin: 10px 0;
    font-weight: bold;
    font-size: 1.2rem;
    width: 150px;
    cursor: pointer;
    padding: 10px;
    color: white;
    background-color: #06D6A0;
    border-radius: 5px;
    border: none;
    box-shadow: 0 5px rgb(102, 110, 108);
    outline: none;
}

.OrderBtn:hover {
    background-color:  rgb(4, 133, 98);
}

.OrderBtn:active {
    background-color:  rgb(4, 133, 98);
    box-shadow: 0 3px rgb(49, 53, 52);
    transform: translateY(2px)
}
